# fly.toml app configuration file generated for orcamentos-api on 2026-02-20T15:34:37-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'orcamentos-api'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = "npm run migrate"

[env]
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
